#charset "utf=8";

html, body, div, h3, p, ul, li, img {
    margin:0;
	padding:0;
}

article, aside, figure, footer, header, hgroup,
meta, nav, section { display;block}

body {
    background:none;
    text-align:justify;
}

.paragraph001 tt {
	color:orange;
	font-size:18px;
	text-shadow: 2px 2px black;
}
